<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Ubi is an amazing Discord bot.</h1>
    <p>Ubi has a powerful modular setup that allows you to create the perfect bot for your server. Best of all, it's completely free and Open Source.</p>
    <a src="/login"><button>login using discord.</button></a>
  </body>
</html>
